.header{
    background-color:#343B48; 
    margin:0 0 0 0; 
    padding-bottom:8%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    color: whitesmoke;
}
.panel{
    margin-bottom: 0px;
}