<div class="panel panel-default">
<div class="panel-heading--padding0">
        <div class="header" >
            <div class="header__text">GALLERY FOR </div>
            <div class="header__text" style="font-size: 200%;">General Pants Co.</div>
            <hr>
           
            <div class="container__header">
            <div class="col-md-6"> 
                <button class="button__primary--dropDn">
                   <select (change)='myfilter(myselect.value,myselect2.value)' #myselect type="text"[(ngModel)]="name" name="FILTER BY STATUS" class="dropdownCustom--bgcolorchange" > 
                                    <option *ngFor="let n of names" [attr.value]="n">{{n}}</option>
                                  </select></button> &nbsp; &nbsp;&nbsp; &nbsp; 
                                  <button class="button__primary--dropDn"> 
                                  <select (change)='myfilter(myselect.value,myselect2.value)' #myselect2 type="text"[(ngModel)]="storeName" name="FILTER BY STORE" class="dropdownCustom--bgcolorchange" > 
                                        <option *ngFor="let n of stores" [attr.value]="n">{{n}}</option>
                                      </select></button></div>
                                      <div class="col-md-6--margin-left">
            <button class="button__primary--margin">REORDER</button>&nbsp; &nbsp;&nbsp; &nbsp; <button class="button__primary--bgcolor "><input type="button" (click)="OnClick()">CREATE GALLERY</button></div>
          </div>
        </div>
    </div>
</div>


