@import '~assets/sass/mixins',
        '~assets/sass/buttons';

        $padding:4% 8% 4% 8%;

.header{
    background-color:#343B48; 
    margin:0 0 0 0; 
    padding-bottom:2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    color: whitesmoke;
}
.panel{
    &-heading{
        &--padding0{
        padding: 0 0 0 0;
        }
    }
    &--display{
        display: inline-block;
    }
}
.dropdownCustom{
    @include dropdownCustom;
    &--bgcolorchange{
    background-color: rgba(97, 109, 126,0.45);
    border: none !important;
    opacity: 1;
    padding:10% 5% 10% 5%;
    }
}
.button__primary{
    &--dropDn{
        border:none !important;
        padding:0;
        margin:0;
        background-color: rgba(97, 109, 126,0.45);
    }    
    &--margin{
        padding:$padding;
        background-color:inherit;
        color: snow;
        display: inline;
    }
    &--bgcolor{
        padding:$padding;
        background-color:inherit;
        background-color: snow;
            color: black;

        }
    }


.col-md-6{
    &--margin-left{
        margin-left:63%;
    }
}
.container{
    &--width{
        width: 950px;
        margin: 0;
        padding: 0;
        display: inline-block;
    }
}
