<div class="panel panel-default">
<div class="panel-heading" style="padding: 0 0 0 0;">
        <div class="header" >
            <div class="header__text">GALLERY FOR </div>
            <div class="header__text" style="font-size: 200%;">General Pants Co.</div>
            <hr>
           
            <div class="container__header">
            <div style="float: left"> <button class="button">FILTER BY STATUS &nbsp;<span class="glyphicon glyphicon-menu-down" href=""></span></button> &nbsp; &nbsp;&nbsp; &nbsp;<button class="button">FILTER BY STORE &nbsp;<span class="glyphicon glyphicon-menu-down" href=""></span></button></div>
            <div style="float: right">  <button class="button__inverse">REORDER</button>&nbsp; &nbsp;&nbsp; &nbsp; <button class="button2">CREATE GALLERY</button></div>
           </div>
          </div>
    </div>
</div>
