<div class="panel panel-default">
<div class="panel-footer">
        <div class="col-xs-10">           
            <div>Terms &amp; Conditions &nbsp; |   Disclamier &nbsp;  |  Enquiries &nbsp; |  Community Portal &nbsp; | QIC GRE  &nbsp; |  Training Guide</div>
            <br><br>
            <div>2015 &#9400; &nbsp; QIC Property Holdings Pty Ltd 2013 (ACN 055 780 295) (QIC)  &nbsp; <span class="glyphicon glyphicon-menu-down"></span></div> 
        </div>
        <div class="col-xs-2">
            <div style="float:right;"><h1>QIC</h1></div>
</div>
    
    </div>
</div>