.panel{
    &-header{
    border-left: 1px solid;
    border-left-color: #E5E4E2;
    }
    &-body{
        border: none!important;
        background: white;
        &--marginMod{
            padding: 5% 3% 7% 10%;
            }
        }
    &-heading{
    border:1px solid;
    border-color: black;
    border-left: none!important;
    border-bottom: none!important;
    background: grey;
    height: 100px;
    padding-top: 2%
    }
}
.marginrightbottom{
    border-right :1px solid #000000;
    border-bottom: 1px solid #000000;
}

.panel{
    &-default{
        &--marginMod{
            margin:4% 5% 2% 5%;
        }
    }
}
.Header{
    &__Name{
        font-size: 150%;
        float: left; 
    }
    &__Status{
        font-size: 120%;
        color: red
    }
}
.lineHeight{
    line-height:200%;
}
.borderline{
    border-left:2px solid;
    border-left-color:#000000;
}
.btn{
    &-primary{
        &--fontsizeChange{
            font-size: 70%;
        }
    }
    &-info{
        &--fontsizeChange{
            font-size: 70%;
        }
    }
}