
@import '~assets/sass/mixins',
        '~assets/sass/buttons';


.panel{

    &-body{
         &--marginMod{
            padding: 5% 3% 7% 10%;
            }
        }
    &-default{
        &--marginMod{
            margin:4% 5% 2% 5%;
            }
        }
    }
.body{
    &__margin{
        &--rightbottom{
    border-right :1px solid #000000;
    border-bottom: 1px solid #000000;
                }
            }

    &__header{
        &--name{
            font-size: 150%;
            float: left; 
    }
        &--status{
            font-size: 120%;
            color: red
        }   
    }
    &__lineHeight{
        line-height:200%;
        }
    &__borderline{
        border-left:2px solid;
        border-left-color:#000000;
        }
    }

.btn{
    &-primary{
        &--fontsizeChange{
            font-size: 70%;
        }
    }
    &-info{
        &--fontsizeChange{
            font-size: 70%;
        }
    }
}