.panel{
    &-header{
    border-left: 1px solid;
    border-left-color: #E5E4E2;
    }
    &-body{
        border-top: none!important;
        background: white;
       
    }
    &-heading{
    border:1px solid;
    border-color: #E5E4E2;
    border-left: none!important;
    border-bottom: none!important;
    background: grey;
    height: 100px;
    padding-top: 2%
    }
<<<<<<< HEAD
=======
}
.data_head{
    font-size:110;
    opacity:0.5;
    line-height:200%;
}
.customhead{
    &_label1{
    font-size: 150%;
    float: left;
    }
    &__lable2{
    font-size: 120%;
    color: red;
    }
>>>>>>> e9ddbb45407b2370b3b1278d8a9e8a998ec88d77
}
