<div style="margin-top:0px;" style="margin-right:-5%"> 
    <div class="row"style="background-color: #fafafa;">
    <div >
      <div class="container">
    <div class="col-xs-3" > 
      <div class="profile">
      <img src="../assets/images/Sundar_Pichai.jpg" class="img-circle " alt="Cinque Terre" width="75" height="75"> 
      </div>
    </div>
    <div class="col-xs-9" > 
    <div class="profileName">Jana Jimmerson &nbsp; &nbsp; 
      <span class="glyphicon glyphicon-menu-down" href=""></span>
    </div></div>
    </div>
    </div>
    <hr>
    <div>
    <div class="logo"><img src="../assets/images/logo.PNG"></div>
    <br>
    <div  style="margin-top: 10%; margin-left: 20%; font-size: 120%;"><i class="material-icons md-dark">home</i><div class="tab_menuscript"> Retailer Home</div></div> 
    
    <hr>
    <div class="tab_menuicon"><span class="glyphicon glyphicon-th-large"></span><div class="tab_menuscript"> Gallaries</div></div> 
    
    <hr>
    <div class="tab_menuicon"><span class="glyphicon glyphicon-cutlery"></span><div class="tab_menuscript"> Menus</div></div> 
    
    <hr>
    <div class="tab_menuicon"><i class="material-icons">card_travel</i><div class="tab_menuscript"> Jobs</div></div> 
    
    <hr>
    <div class="tab_menuicon"><i class="material-icons">local_offer</i><div class="tab_menuscript"> Offers</div></div> 
    
    <hr>
    <div class="tab_menuicon"><i class="material-icons">event</i><div class="tab_menuscript"> Events</div></div> 
    
    <hr>
    <div class="tab_menuicon"><i class="material-icons">star_border</i><div class="tab_menuscript"> Promote Content</div></div> 
    
    <hr>
    </div>
    <div class="text-left h4" style="margin-left: 10%; margin-top: 10%;">Stores</div>
    
    <hr>
    <div class="panel-group" id="accordion">
    <div class="panel panel-default" style="margin-left:10%; font-size: 120%;">
    <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> 
                  Conberro (2)    </a>
              </h4>
            </div>
            <hr>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                  <div style="padding-left:2%"><i class="material-icons">room</i><div class="tab_menuscript"> Level 1 Shop 91</div></div>
                </div>
                <hr>
              <div class="panel-body">
                  <div style="padding-left:2%"><i class="material-icons">room</i><div class="tab_menuscript"> Level 3 Shop 08</div></div>
                    </div>
                    <hr>
              </div>
            </div>
            <div class="panel panel-default" style="margin-left:10%; font-size: 120%;">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    Eastland (3)
                  </a>
                </h4>
              </div>
              <hr>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <div style="padding-left:2%"><i class="material-icons">room</i><div class="tab_menuscript"> Level 1 Shop 218</div></div>
                </div>
                <hr>
                <div class="panel-body">
                    <div style="padding-left:2%"><i class="material-icons">room</i><div class="tab_menuscript"> Level 2 Shop 33</div></div>
                </div>
                <hr>
                <div class="panel-body">
                    <div style="padding-left:2%"><i class="material-icons">room</i><div class="tab_menuscript"> Level 3 Shop 108</div></div>
                </div>
                <hr>
              </div>
            </div>
            <div class="panel panel-default" style="margin-left:10%; font-size: 120%;">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    Grand Central (3)
                  </a>
                </h4>
              </div>
              <hr>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <div style="padding-left:2%"><i class="material-icons">room</i><div class="tab_menuscript"> Level 1 Shop 218</div></div>
                   </div>
                   <hr>
                <div class="panel-body">
                <div style="padding-left:2%"><i class="material-icons">room</i><div class="tab_menuscript"> Level 1 Shop 218</div></div>
                       </div>
                       <hr>
                <div class="panel-body">
                <div style="padding-left:2%"><i class="material-icons">room</i><div class="tab_menuscript"> Level 1 Shop 218</div></div>
                           </div>
                           <hr>
      </div>
    </div>
    <div class="panel panel-default" style="margin-left:10%; font-size: 120%;">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              Robina (4)
            </a>
          </h4>
        </div>
      
    </div>
    </div>
    </div>
    </div>