@mixin bgcolor{ background-color: #fafafa !important;}
.glyphconPad { padding-left:2% }

.container{
    &__width{
    width: 620px;
}
}
.pic{
        width:100px;
        height:100px;
    }

.start{
    margin-right:-5%;
    margin-top:0px;
}
.row{
    @include bgcolor;
}
.profile{
    &__image{
    margin-top:10%;
    margin-left: 0%; 
    }
    &__Name{
    margin:6% 0% 0% 0%; 
    font-size:150%;   
    font-family: Century Gothic;
    }
}
.company__logo{
    padding-left:20%;
    padding-top:1%;
    align-content:center;
    }


.tab{
    &_menuicon{
    margin-left: 20%; 
    font-size: 120%;
    }
    &_menuscript{
    margin-left:10%;
    display: inline;
    }
}

hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-18 { font-size: 18px; }

.text-left{
    .h4{
    margin-left: 10%; 
    margin-top: 10%;
}
}
.menufirstIcon{
    margin-top: 10%;
    margin-left: 20%;
    font-size: 120%;
}
.panel{
    @include bgcolor;
    border: none;
    .panel-default{
        margin-left:10%;
        font-size: 120%;
    }
    &-body{
        padding: 2px;
    }
    &-default{
        @include bgcolor;
    }
    &-heading{
        @include bgcolor;
        .accordion-toggle:after{
            font-family: 'Glyphicons Halflings'; 
            content: "\e114";   
            float: right;     
            color: grey;  
        }
        .accordion-toggle.collapsed:after{
            content: "\e080";
        }
    }
    &-group{
        .panel-heading+.panel-collapse>.panel-body{
            @include bgcolor;
            border: none;
        }
    }
}
