$three:3%;
$tenpx:10px;
$light-grey:rgba(136, 133, 133, 0.46);
$darkColor:rgba(12, 11, 11, 0.884);
$lightColor:#fafafa;


@mixin buttonDec{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.header{
background-color:$darkColor; 
margin-left:0%;
padding-bottom:8%;
padding-left: $three;
padding-right: $three;
color: whitesmoke;

&__text{
    padding-top:2.2%;
    text-align: left;
    padding-left:0%;
}
} 
hr{
    margin-top: $tenpx;
    margin-bottom: $tenpx;
}
.material-icons.md-light { color:rgba(255, 255, 255, 1) ;
background-color: $darkColor; }
.material-icons.md-18 { font-size: 18px; }



.panel{
    border: none;
    background-color: $lightColor;
   
    &-heading{
        background-color: $lightColor;

        .accordion-toggle:after {
    font-family: 'Glyphicons Halflings'; 
    content: "\e114";   
    float: right;     
    color: grey;       
        }
        .accordion-toggle.collapsed:after {
            content: "\e080";
        }
    }
    &-group .panel-heading+.panel-collapse>.panel-body{
        border: none;
        background-color: $lightColor;
    }
    &-default{
        background-color: $lightColor;
   }
    &-body{
    padding: 2px;
    }
}


.container{
    &__header{
        width:930px;
    }
}
.button {
    background-color:$light-grey ;
    border: none;
    color: white;
    padding: 15px 32px;
    @include buttonDec;
  
    &__inverse{
        background-color: $darkColor;
        border:2px solid #A3A1A1;
        color: white;
        padding: 15px 32px;
        @include buttonDec;
    }
}

.button2 {
        background-color:#ffffff;
       color: rgb(8, 8, 8);
       padding: 13px 28px;
       border: 1px solid $darkColor;
       @include buttonDec;
    }

.button3 {
        background-color: $darkColor;
        color: white;
        border: 1px solid white;
        padding: 13px 28px;
        @include buttonDec;
    }
